*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 236, 236);
}

#navFirst{
    margin-top: 50px;
    margin-left: 50px;
}

#navMid{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 60px;
    margin-left: 400px;
    font-size: 20px;
    margin-top: -35px;
    
}

.home{
    text-decoration: underline;
}

#navEnd{
    display: flex;
    gap: 60px;
    margin-left: 1100px;
    margin-top: -25px;
}

#midWhole{
    display: flex;
}

#midWholePart11{
    font-size: 20px;
    
}

#monstera{
    font-size: 100px;
    font-weight: 900;
    margin-top: 7%;
    margin-left: 0%;
}

div>ul{
    font-size: 20px;
    margin-left: 10%;
    margin-top: -10px;
}

.discover{
    padding: 20px 70px;
    background-color: rgb(35, 73, 35);
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 30px;
}

 #midWholePart13{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
  }
  .midWholePart13Parts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

  .midWholePart13Parts>div>h4{ 
    font-family: "Allerta";
    font-size: 20px;
    margin-top: -20px;
    font-weight: 800;
  }

  #light{
    position: relative;
    height: 63px;
    margin-right: 9px;
    bottom: 12px;
  }
  #care{
    position: relative;
    height: 63px;
    bottom: 12px;
    margin-right: 9px;
  }

  .text{
    font-family: "Abel";
    font-weight: 600;
    margin-top: 0px;
  }
  
  #imgMain{
  margin-left: 50px;
  margin-top: 50px;
  }













